img {
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.header, 
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px;
}
.header .logo {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}
.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.header ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.footer {
    color:#E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.panel.intro {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    flex-grow: 1;
}
.left {
    color: #F9FAF8;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin: 6px;
}
.left .title {
    font-size: 48px;
}
.introbutton {
    color: #E5E7EB;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 8px;
    border-style: solid;
}
.right img {
    width: 200px;
}

.panel.information {
    display: flex;
    flex-direction: column;
    width: 800px;
}
.information .title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 8px;
}
.information .container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.information .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}
.info img {
    width: 180px;
}

.panel.quotes {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 18px;
}
.panel.quotes .quote {
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
    flex-grow: 1;
    display: flex;
    align-self: center;
}
.panel.quotes .author {
    align-self: flex-end;
    font-weight: bold;
}

.panel.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin: 40px 60px;
    border-radius: 8px;
    width: 800px;
}
.call-text {
    color: #E5E7EB;
    font-size: 14px;
}
.call {
    font-weight: bold;
}
.panel.action, .callbutton{
    background-color: #3882F6;    
}
.callbutton {
    border-color: #E5E7EB;
    color: #E5E7EB;
    height: 30px;
    border-radius: 8px;
    border-style: solid;
    padding: 14px;
    line-height: 0px;
    text-align: center;
}
